* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  height: 100%;
}

.background {
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  top: 0;
  left: 0;
  position: absolute;
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  background-color: #eafbf5;
  filter: blur(5px);
}

.background.scene-street {
  background-image: url("../images/scene-street.png");
}

.background.scene-tree {
  background-image: url("../images/scene-tree.png");
}

.background.scene-tree.tree-0 {
  background-image: url("../images/scene-tree-0.png");
}

.background.scene-tree.tree-1 {
  background-image: url("../images/scene-tree-1.png");
}

.background.scene-tree.tree-2 {
  background-image: url("../images/scene-tree-2.png");
}

.background.scene-tree.tree-3 {
  background-image: url("../images/scene-tree-3.png");
}

.background.scene-tree.tree-4 {
  background-image: url("../images/scene-tree-4.png");
}

.background.scene-tree.tree-5 {
  background-image: url("../images/scene-tree-5.png");
}

.background.scene-tree.tree-6 {
  background-image: url("../images/scene-tree-6.png");
}

.background.scene-tree.tree-7 {
  background-image: url("../images/scene-tree-7.png");
}

.background.scene-home {
  background-image: url("../images/scene-home.png");
}

.background.scene-home.tree-0 {
  background-image: url("../images/scene-home-0.png");
}

.background.scene-home.tree-1 {
  background-image: url("../images/scene-home-1.png");
}

.background.scene-home.tree-2 {
  background-image: url("../images/scene-home-2.png");
}

.background.scene-home.tree-3 {
  background-image: url("../images/scene-home-3.png");
}

.background.scene-home.tree-4 {
  background-image: url("../images/scene-home-4.png");
}

.background.scene-home.tree-5 {
  background-image: url("../images/scene-home-5.png");
}

.background.scene-home.tree-6 {
  background-image: url("../images/scene-home-6.png");
}

.background.scene-home.tree-7 {
  background-image: url("../images/scene-home-7.png");
}

.background.scene-kitchen {
  background-image: url("../images/scene-kitchen.png");
}

.greeting-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #21cbd442, #ffa08e5c) border-box;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  border: 2px solid #cccccc;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 9999;
}

.greeting-card #greeting-form {
  display: flex;
  flex-direction: column;
}

#greeting-form div,
#greeting-form input,
#greeting-form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
}

#greeting-form #greeting-link {
  display: flex;
  justify-content: space-evenly;
}

.greeting-card h1 {
  color: #ff6347;
}

.greeting-card p {
  font-size: 18px;
  color: #333333;
}

.greeting-card button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #ff6347; /* Томатний червоний колір */
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.greeting-card button:hover {
  background-color: #ff4500; /* Темно-томатний червоний колір */
}

.game-container {
  width: 100vw;
  min-width: 360px;
  max-width: 430px;
  height: 100vh;
  max-height: -webkit-fill-available;
  background-color: #eafbf5;
  box-shadow: 0 0 0 1px #000;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.game-container.scene-home {
  background-color: #fae1a9;
}

.game-container.scene-kitchen {
  background-color: #f2fafc;
}

.game-container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-weight: bold;
  position: relative;
}

.game-container.scene-street > header:after,
.game-container.scene-tree > header:after {
  content: "";
  position: absolute;
  bottom: calc(-10vh + 1px);
  left: 0;
  right: 0;
  height: 10vh;
  background: linear-gradient(
    to bottom,
    rgba(235, 251, 245, 1),
    rgba(235, 251, 245, 0)
  );
  pointer-events: none;
  z-index: 1;
}

.game-container > header > .buttons {
  display: flex;
}

.game-container > header > .buttons > .button,
.game-container > footer > .smartphone-button {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}

.game-container > header > .buttons > .button:hover,
.game-container > footer > .smartphone-button:hover {
  background-color: rgb(68 200 207 / 20%);
}

.game-container > header > .buttons > .button:active,
.game-container > footer > .smartphone-button:active {
  background-color: rgb(68 200 207 / 50%);
}

.game-container > header > .buttons > .button img,
.game-container > footer > .smartphone-button img {
  width: 100%;
  height: 100%;
}

.game-container > header > .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-container > header > .right > #countdown {
  display: flex;
  text-align: center;
}

.game-container > header > .right > #countdown .time-block {
  padding: 0 0.1rem;
}

.game-container > header > .right > #countdown .time {
  font-size: 1.2rem;
  margin: 5px 0;
  padding: 0.1rem;
  background-color: rgb(86 199 206);
  border-radius: 5px;
  color: #fff;
}

.game-container.scene-home > header > .right > #countdown .time {
  background-color: rgb(243 176 58);
}

.game-container.scene-kitchen > header > .right > #countdown .time {
  background-color: rgb(255 96 111);
}

.game-container > header > .right > #countdown .label {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #000;
}

.game-container > header > .right > .money {
  background-color: rgb(68 200 207);
  color: #fff;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  margin-left: 0.5rem;
  text-align: center;
}

.game-container > header > .right > .money #money {
  max-width: 3rem;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.game-container.scene-home > header > .right > .money {
  background-color: rgb(243 176 58);
}

.game-container.scene-kitchen > header > .right > .money {
  background-color: rgb(255 96 111);
}

.game-container > .scene {
  flex: 1;
  width: 100%;
  height: calc(100% - 10rem);
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.game-container > .scene > .smartphone {
  width: 400px;
  height: 90%;
  background: #000;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  left: calc(50% - 200px);
  z-index: 10;
}

.game-container > .scene > .smartphone #smartphone-header {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: .7rem;
  line-height: 20px;
  padding: 0 1rem;
  cursor: grab;
}

.game-container > .scene > .smartphone.dragging #smartphone-header {
  cursor: grabbing;
}

.game-container > .scene > .smartphone .wallpaper {
  filter: blur(5px);
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.game-container > .scene.scene-street .smartphone .wallpaper {
  background-image: url("../images/scene-street.png");
  background-color: #ebfbf5;
}

.game-container > .scene.scene-tree .smartphone .wallpaper {
  background-image: url("../images/scene-tree.png");
  background-color: #ebfbf5;
}

.game-container > .scene.scene-home .smartphone .wallpaper {
  background-image: url("../images/scene-home.png");
  background-color: #f9e1ad;
}

.game-container > .scene.scene-kitchen .smartphone .wallpaper {
  background-image: url("../images/scene-kitchen.png");
  background-color: #f3fafc;
}

.game-container > .scene > .smartphone .screen {
  flex: 1;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px;
  overflow: hidden;
  display: flex;
  position: relative;
  padding: 20px;
}

.game-container > .scene > .smartphone .app-buttons {
  z-index: 1;
}

.game-container > .scene > .smartphone .app-button:nth-of-type(4n) {
  margin-right: 0;
}

.game-container > .scene > .smartphone .app-button {
  display: inline-block;
  vertical-align: middle;
  margin-right: 26px;
}

.game-container > .scene > .smartphone .app-button .logo {
  width: 60px;
  height: 60px;
  background: #0078d7;
  color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5px;
}

.game-container > .scene > .smartphone .app-button .title {
  font-size: 0.6rem;
  color: #000;
  width: 60px;
  height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.game-container > .scene > .smartphone .app-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #f8f8f8;
  padding: calc(20px + 0.2rem);
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  z-index: 2;
}

.game-container > .scene > .smartphone .app-content.active {
  display: flex;
}

.game-container > .scene > .smartphone .app-content#audio-app .audio-player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.game-container > .scene > .smartphone .app-content#audio-app .current-song {
  font-size: 18px;
  font-weight: bold;
}

.game-container > .scene > .smartphone .app-content#audio-app .controls button {
  font-size: 18px;
  margin: 0 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.game-container
  > .scene
  > .smartphone
  .app-content#audio-app
  .controls
  button:hover {
  background: #0078d7;
}

.game-container > .scene > .smartphone .app-content#audio-app .song-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  max-height: calc(100% - 6rem);
  overflow-y: scroll;
}

.game-container > .scene > .smartphone .app-content#audio-app .song-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.game-container
  > .scene
  > .smartphone
  .app-content#audio-app
  .song-list
  li:hover {
  background: #f0f0f0;
}

.game-container > .scene > .smartphone .app-content#shopping-app {
  flex-direction: column;
  align-items: center;
}

.game-container > .scene > .smartphone .app-content#shopping-app .shop-body {
  width: 100%;
  height: calc(100% - 2rem);
  position: relative;
}

.game-container > .scene > .smartphone .app-content#shopping-app header {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 0rem 0 0.3rem 0;
  border-bottom: 1px solid #000;
  gap: 1rem;
}

.game-container > .scene > .smartphone .app-content#shopping-app input {
  font-size: 1rem;
  padding: 0.2rem;
  width: 100%;
}

.game-container
  > .scene
  > .smartphone
  .app-content#shopping-app
  header
  .cart-total {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.game-container > .scene > .smartphone .app-content#shopping-app header button {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
}

.game-container
  > .scene
  > .smartphone
  .app-content#shopping-app
  .cart-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}

.game-container > .scene > .smartphone .app-content#shopping-app .product-list,
.game-container > .scene > .smartphone .app-content#shopping-app .cart-list {
  width: 100%;
  max-height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  overflow-y: auto;
}

.game-container
  > .scene
  > .smartphone
  .app-content#shopping-app
  .product-list
  li,
.game-container > .scene > .smartphone .app-content#shopping-app .cart-list li {
  display: flex;
  gap: 1rem;
}

.game-container
  > .scene
  > .smartphone
  .app-content#shopping-app
  .product-list
  li
  .product-image,
.game-container
  > .scene
  > .smartphone
  .app-content#shopping-app
  .cart-list
  li
  .product-image {
  font-size: 1.5rem;
}

.game-container
  > .scene
  > .smartphone
  .app-content#shopping-app
  .product-list
  li
  .product-info,
.game-container
  > .scene
  > .smartphone
  .app-content#shopping-app
  .cart-list
  li
  .product-info {
  flex: 1;
  text-align: left;
}

.game-container
  > .scene
  > .smartphone
  .app-content#shopping-app
  .product-list
  li
  .product-info
  .product-name,
.game-container
  > .scene
  > .smartphone
  .app-content#shopping-app
  .cart-list
  li
  .product-info
  .product-name {
  font-weight: bold;
}

.game-container
  > .scene
  > .smartphone
  .app-content#shopping-app
  .product-list
  li
  button {
  font-size: 1rem;
  padding: 0.1rem;
}

.game-container
  > .scene
  > .smartphone
  .app-content#shopping-app
  .cart-list
  li
  input[type="number"] {
  font-size: 1rem;
  width: 2rem;
}

.game-container
  > .scene
  > .smartphone
  .app-content#shopping-app
  .cart-container
  button {
  font-size: 1rem;
  margin: 1rem;
  line-height: 2rem;
}

.game-container > .scene > .smartphone #close-app {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  z-index: 2;
}

.game-container > .scene.scene-street {
  background-image: url("../images/scene-street.png");
}

.game-container > .scene.scene-tree {
  background-image: url("../images/scene-tree.png");
}

.game-container > .scene.scene-tree.tree-0 {
  background-image: url("../images/scene-tree-0.png");
}

.game-container > .scene.scene-tree.tree-1 {
  background-image: url("../images/scene-tree-1.png");
}

.game-container > .scene.scene-tree.tree-2 {
  background-image: url("../images/scene-tree-2.png");
}

.game-container > .scene.scene-tree.tree-3 {
  background-image: url("../images/scene-tree-3.png");
}

.game-container > .scene.scene-tree.tree-4 {
  background-image: url("../images/scene-tree-4.png");
}

.game-container > .scene.scene-tree.tree-5 {
  background-image: url("../images/scene-tree-5.png");
}

.game-container > .scene.scene-tree.tree-6 {
  background-image: url("../images/scene-tree-6.png");
}

.game-container > .scene.scene-tree.tree-7 {
  background-image: url("../images/scene-tree-7.png");
}

.game-container > .scene.scene-home {
  background-image: url("../images/scene-home.png");
}

.game-container > .scene.scene-home.tree-0 {
  background-image: url("../images/scene-home-0.png");
}

.game-container > .scene.scene-home.tree-1 {
  background-image: url("../images/scene-home-1.png");
}

.game-container > .scene.scene-home.tree-2 {
  background-image: url("../images/scene-home-2.png");
}

.game-container > .scene.scene-home.tree-3 {
  background-image: url("../images/scene-home-3.png");
}

.game-container > .scene.scene-home.tree-4 {
  background-image: url("../images/scene-home-4.png");
}

.game-container > .scene.scene-home.tree-5 {
  background-image: url("../images/scene-home-5.png");
}

.game-container > .scene.scene-home.tree-6 {
  background-image: url("../images/scene-home-6.png");
}

.game-container > .scene.scene-home.tree-7 {
  background-image: url("../images/scene-home-7.png");
}

.game-container > .scene.scene-kitchen {
  background-image: url("../images/scene-kitchen.png");
}

.game-container > footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 7rem;
}

.game-container.scene-street > footer,
.game-container.scene-tree > footer {
  background-color: #eafbf5;
}

.game-container.scene-street > footer:before,
.game-container.scene-tree > footer:before {
  content: "";
  position: absolute;
  top: calc(-10vh + 1px);
  left: 0;
  right: 0;
  height: 10vh;
  background: linear-gradient(
    to bottom,
    rgba(235, 251, 245, 0),
    rgba(235, 251, 245, 1)
  );
  pointer-events: none;
}

.game-container > footer > .helper {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.game-container > footer > .helper > .avatar {
  flex: none;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-image: url("../images/avatar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 3px 1px #0000002e;
  border: 1px solid #8099b5;
}

.game-container > footer > .helper > .dialog-box {
  min-height: 3.2rem;
  flex: 1;
  padding: 0.5rem 1rem;
  border-inline: 1rem solid #0000;
  border-radius: calc(2rem) / 1rem;
  mask: radial-gradient(100% 100% at 0 0, #0000 99%, #000 102%) 0 100% / 1rem
      1rem no-repeat,
    linear-gradient(#000 0 0) padding-box;
  background: linear-gradient(135deg, #21cbd4, #ffa08e) border-box;
  color: #eafbf5;
  border-bottom-left-radius: 0 0;
  text-shadow: 1px 1px black;
  box-shadow: 1px 1px black;
}

.game-container.scene-home > footer > .helper > .dialog-box {
  background: linear-gradient(135deg, #da5330, #fcc05f) border-box;
}

.game-container.scene-kitchen > footer > .helper > .dialog-box {
  background: linear-gradient(135deg, #c1b8b5, #f86572) border-box;
}

.game-container > footer > .helper > .dialog-box > .dialog-text {
  line-height: 1.2rem;
  font-size: 0.8rem;
}

#garland-effect-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#garland-effect-container .garland {
  position: absolute;
  display: flex;
}

#garland-effect-container .garland.top {
  top: 0.1rem;
  left: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

#garland-effect-container .garland.right {
  top: 0;
  right: 0.1rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

#garland-effect-container .garland.bottom {
  bottom: 0.1rem;
  left: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

#garland-effect-container .garland.left {
  top: 0;
  left: 0.1rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Лампочки */
#garland-effect-container .garland::before,
#garland-effect-container .garland::after,
#garland-effect-container .garland span {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  animation: blink 1.5s infinite;
}

#garland-effect-container .garland span:nth-child(2n) {
  background-color: green;
  animation-delay: 0.3s;
}

#garland-effect-container .garland span:nth-child(3n) {
  background-color: blue;
  animation-delay: 0.6s;
}

#garland-effect-container .garland span:nth-child(4n) {
  background-color: yellow;
  animation-delay: 0.9s;
}

#garland-effect-container .garland span:nth-child(5n) {
  background-color: purple;
  animation-delay: 1.2s;
}

/* Анімація блимань */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

#dialog-quiz-container > div {
  display: flex;
}

#dialog-quiz-container > div > button {
  margin: 0.1rem;
  padding: 0.5rem 0.2rem;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
}

#dialog-quiz-container > div > button.success {
  border: 1px solid green;
  background-color: rgba(0, 255, 0, 0.3);
}

#dialog-quiz-container > div > button.failure {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.3);
}

.snowflake {
  position: absolute;
  top: 0;
  font-size: 2rem;
  color: white;
  animation: fall linear infinite;
  cursor: default;
  z-index: 0;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.snowflake.money {
  cursor: pointer;
  z-index: 1;
}

#grow-tree-game-container {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
}

#grow-tree-game-container .grow-tree-game-button {
  padding: 0.5rem;
  background-color: #50c6cd;
  color: #ebfbf5;
  border-radius: 10px;
  border-color: #007a82;
  margin-bottom: 0.5rem;
  font-size: 1.2em;
}

#grow-tree-game-container .grow-tree-statistic {
  padding: 0.5rem;
  background-color: #50c6cd;
  color: #ebfbf5;
  border-radius: 10px;
  font-size: 1rem;
  border-color: #007a82;
  margin: 1rem;
  position: relative;
  align-self: flex-end;
  font-size: 0.8rem;
}

#music-game-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#music-game-container #music-game-options,
#music-game-container #music-game-controls {
  display: flex;
  justify-content: space-between;
}

#music-game-container #music-game-options {
  flex: 1;
}

#music-game-container #music-game-controls {
  padding-left: 1rem;
}

#music-game-container #music-game-options button {
  flex: 1;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: rgb(221 91 52);
  border-radius: 5px;
}

#music-game-container #music-game-options button.success {
  background-color: green;
}

#music-game-container #music-game-options button.failure {
  background-color: red;
}

#music-game-container #music-game-options button:not(:last-child) {
  margin-right: 0.1rem;
}

#music-game-container #music-game-controls button {
  padding: 0 0.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#music-game-container .songs-over-text,
#music-game-container .songs-over-text + div {
  padding: 0 0.5rem;
}

#music-game-container .songs-over-text {
  flex: 1;
  color: #fff;
  border-radius: 5px;
  padding-left: 2.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.8em;
}

#music-game-container .songs-over-text p {
  background-color: rgb(221 91 52);
  display: inline-block;
  padding: 0 0.5rem;
  line-height: 1.5rem;
  border-radius: 5px;
}

#music-game-container .songs-over-text + div {
  font-size: 1.5rem;
  align-self: flex-end;
}

#cooking-game-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: .5rem;
}

#cooking-game-container .cooking-game-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

#cooking-game-container .cooking-game-container > button {
  margin: 0.5rem;
  width: 3rem;
  font-size: 2rem;
  line-height: 3rem;
  border-radius: 50%;
  border: 1px solid #0000002e;
}

#cooking-game-container .fridge,
#cooking-game-container .cooking {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: .5rem;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px #0000002e;
  border-radius: 5px;
}

#cooking-game-container .fridge header,
#cooking-game-container .cooking header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  gap: 1rem;
}

#cooking-game-container .fridge header > h3,
#cooking-game-container .cooking header > h3 {
  flex: 1;
  border-bottom: 1px solid black;
  padding-bottom: .2rem;
}

#cooking-game-container .fridge header > button,
#cooking-game-container .cooking header > button {
  width: 2rem;
  border: none
}

#cooking-game-container .fridge .product-list,
#cooking-game-container .cooking .dish-list {
  max-height: calc(100% - 3rem);
  padding: 0 1rem;
  overflow-y: auto;
}

#cooking-game-container .fridge .product,
#cooking-game-container .cooking .dish .dish-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#cooking-game-container .cooking .dish {
  padding-bottom: .5rem;
}

#cooking-game-container .fridge .product .image,
#cooking-game-container .cooking .dish .dish-info .image {
  font-size: 1.5rem;
}

#cooking-game-container .fridge .product .name,
#cooking-game-container .cooking .dish .dish-info .name {
  flex: 1;
}

#cooking-game-container .cooking .dish.cooked .dish-info .name {
  text-decoration: line-through;
}

#cooking-game-container .fridge .product .quantity {
  font-size: 1.5rem;
  font-weight: bold;
}

#cooking-game-container .cooking .dish .dish-info button,
#cooking-game-container .cooking .dish .dish-info .cooked {
  font-size: 1.5rem;
  background: none;
  border: none;
}

#cooking-game-container .fridge .product .quantity:before {
  content: "✖︎";
  font-size: 1rem;
}

#cooking-game-container .cooking .dish .ingredients {
  list-style: none;
  padding-left: 2.5rem;
  font-size: .8rem;
}

#cooking-game-container .cooking .dish .ingredients .not-enough {
  color: red;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

/* for general stylings (both, mobile && desktop) */
@media screen and (min-width: 320px) {
}
/* for only styles between 320px and 768px (most mobile devices) */
@media screen and (max-width: 767px) {
}

/* general desktop && tablet styles if needed */
@media screen and (min-width: 768px) {
}

/* only tablet styles */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body,
  html {
    font-size: 22px;
  }

  .game-container {
    min-width: 430px;
    max-width: 680px;
  }
}

/* start with desktop styling */
@media screen and (min-width: 1025px) {
  body,
  html {
    font-size: 22px;
  }

  .game-container {
    min-width: 430px;
    max-width: 680px;
  }
}
